.pool-container section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 50px;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
}
@media screen and (max-width: 1336px) {
  .pool-container section {
    margin-top: 1rem;
    width: 90%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 450px) {
  .pool-container section {
    margin-top: 1rem;
    width: 90%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
