.pool-container section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
}
@media screen and (max-width: 1440px) {
  .pool-container section {
    margin-top: 1rem;
    width: 90%;
  }
}
@media screen and (max-width: 1336px) {
  .pool-container section {
    margin-top: 1rem;
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .pool-container section {
    margin-top: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .pool-container section {
    margin-top: 1rem;
    width: 100%;
  }
}

.pool-item {
  height: 100%;
  position: relative;
  width: 30%;
  margin: 1rem;
  background: rgba(2, 18, 33, 0.85);
  border: #0084ff 1px solid;
  .select-indicator {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    right: 10px;
    top: 0px;
    background: url("./static/images/checked.png") no-repeat right center/20px;
  }
  .pool-image {
    position: relative;
    display: inline-grid;
    img {
      max-width: 100%;
      border-bottom: #0084ff 1px solid;
    }
    .indicator {
      position: absolute;
      font-size: 0.9rem;
      color: white;
      bottom: -15px;
      left: 50%;
      outline: 0;
      transform: translateX(-50%);
      display: inline-flex;
      .left {
        background-color: #0084ff;
        padding: 5px 10px;
        border-radius: 8px;
        text-align: center;
        white-space: nowrap;
        text-transform: uppercase;
        &.left-radius {
          border-radius: 8px 0 0 8px;
        }
      }
      .right {
        padding: 5px 10px;
        margin-left: -1px;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0 8px 8px 0;
        background: #005fc9;
      }
    }
  }
  .pool-info {
    text-align: center;
    margin-bottom: 1rem;
    .nft-own {
      color: #22bd3d;
      font-size: 1rem;
    }
    .nft-count {
      margin: 1rem 0px;
      font-size: 17px;
      .remaining {
        color: #22bd3d;
      }
      .supply {
        color: #e8ec18;
      }
    }
    .nft-name {
      font-size: 1rem;
      font-weight: bold;
      color: rgb(0, 180, 255);
    }
    .nft-description {
      margin: 1rem 0;
      color: white;
    }
  }
}

@media screen and (max-width: 860px) {
  .pool-item {
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .pool-item {
    width: 100%;
  }
}
