body {
  font-family: orbitron, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: black;
  font-size: 0.8em;
  color: white;
}
@media screen and (max-width: 1368px) {
  body {
    font-size: 0.5em;
  }
}

@mixin bgbox {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -100;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 1rem 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.screen .label {
  font-size: 1.1em;
  text-align: left;
  font-weight: 700;
  padding: 2.5px;
  margin: 0px;
  background-color: #0e0e0e;
  display: block;
  color: #232323;
}
section {
  &.screen {
    display: flex;
    flex-direction: column;
    img {
      flex: 1;
    }
  }
  &.c1 {
    border: #0e0e0e solid 4px;
    background: #0057b7;
    flex: 1;
  }
  &.c2,
  &.c3,
  &.c4,
  &.c5,
  &.c6,
  &.c7,
  &.c8 {
    border: #0e0e0e solid 4px;
    text-align: center;
    color: white;
    flex: 1;
  }
  &.c2 {
    background-size: cover;
    background-image: url("./static/images/c2.gif");
    .c2-container {
      padding: 0.5rem;
      text-align: left;
    }
  }
  &.empty,
  &.loading {
    flex: 1;
  }
  &.loading {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.blink {
  animation: blinker-one 1s linear infinite;
}

@keyframes blinker-one {
  0% {
    opacity: 0;
  }
}
button {
  background-color: #fff;
  cursor: pointer;
  color: #6b0e51;
  font-weight: bold;
  padding: 6px 10px;
  border: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  &:active {
    position: relative;
    top: 1px;
  }
}
.connect-but {
  color: red;
  background: black;
  border: 1px solid red;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.info-box {
  margin: 1rem 0;
}
.background-1 {
  @include bgbox;
  background-image: url(./static/images/h9k-bg.jpg);
}

.background-2 {
  @include bgbox;
  background-position: bottom;
  background-image: url(./static/images/lge-event-bg.jpg);
}

.loading-overlay {
  @include bgbox;
  background: black;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 100;
  text-align: center;
}

progress[value] {
  height: 14px;
  width: 500px;
  margin: auto;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
progress[value]::-webkit-progress-bar {
  border-radius: 2px;
  background: rgba(227, 227, 227, 0.817);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, rgb(40, 71, 249));

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
